@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

img {
  max-height: "100%";
}
input,
select,
textarea {
  @apply border border-neutral-300 rounded-sm  w-full p-2 px-4;
  @apply shadow-sm;
  @apply mb-2;
}

input:focus,
select:focus,
textarea:focus {
  @apply border-gray-800;
}

h1 {
  @apply text-gray-900 mb-4 text-xl;
}

label {
  @apply text-gray-900;
}

.btn-primary {
  @apply bg-gray-800 text-white px-4 rounded-sm py-1;
}

.btn-default,
.btn-red {
  @apply px-4 py-1 rounded-sm;
}

.btn-red {
  @apply bg-red-200 text-red-800  hover:bg-red-400;
}
.btn-default {
  @apply bg-neutral-300 rounded-sm border;
}

table {
  @apply w-full rounded-sm;
}

table thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-300 text-start shadow-sm;
}

table tr td {
  @apply px-4 py-2;
}
table a {
  @apply btn-primary bg-gray-500 inline-flex mx-1 items-center gap-1 rounded-none;
}
table a:hover {
  @apply bg-neutral-500;
}
